<div class="comment">
  <div class="event">
    <div class="content">
      <div class="summary">
        <strong><%= message.user.username %>:</strong> <%= message.body %>
      </div>
    </div>
  </div>
</div>